<section [class.cerrado]="panelCerrado">
    <div class="header d-flex justify-items-between align-items-center">
        <h4 class="m-0">{{tituloEditar()}}</h4>
        <button class="btn" (click)="cerrar()">X</button>
    </div>
    <hr>
    <div class="d-flex flex-column px-3">

        <label for="descripcion" class="mb-1">Descripcion</label>
        <input type="text" placeholder="Describir tarea" class="input mb-3" [(ngModel)]="descripcion">

        <label for="estado" class="mb-1">Estado</label>
        <select name="estado" id="estado" class="input mb-3" [(ngModel)]="estado">
            @for(estadoValue of estadoValues; track estadoValue) {
                <option value="{{estadoValue}}">{{estadoValue | titlecase}}</option>
            }
        </select>

    </div>
    <div class="buttons">
        <hr>
        <div class="d-flex flex-1 justify-content-end">
            <app-button-regular
                class="mx-2" 
                boton="Cancelar"
                (clicked)="cerrar()"
            />
            <app-button-regular 
                boton="Guardar"
                (clicked)="guardar()"
            />
        </div>
    </div>
</section>
