.botones > i {
    cursor: pointer;
}

.detalle-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff !important;
    padding: 20px 32px 16px !important;
}