section > * {
    max-width: 1200px;
    margin: auto;
    font-family: "Montserrat", sans-serif !important;
}

section > .app-header {
    width: 100% !important;
    position: sticky;
    top: 0;
    z-index: 5;
}

.favoritas, .todas {
    width: 100%;
}

.section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0;
    padding: 0;
}

h4 {
    color: #808080;
    margin: 25px 0px 0px 25px;
    font-size: 12px;
}

.graphs {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.action-plan {
    width: 60%;
}

.action-list {
  padding: 12px 15px;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.action-list::before {
  content: '→';
  color: #7c6fcd;
  flex-shrink: 0;
}

.bienvenida-user {
    text-align: center;
}

.nombreUsuario {
    color: #7c6fcd;
    font-weight: 800;
}

.bienvenida-user > button {
    text-decoration: none;
    color: #ffffff;
    background-color: #7c6fcd;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: "Montserrat", sans-serif;
}

.bienvenida-admin, .bienvenida-user {
    text-align: center;
    padding: 10em;
    background: linear-gradient(to right bottom, white, white, #e0dcfd)
}

.enfasis {
    color: #7c6fcd;
    font-weight: 800;
    text-decoration: underline;
}

.tarea-section {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 20px;
}

.pendiente, .finalizada, .baja {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.pendiente::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, rgb(15, 90, 161), transparent);
}

.finalizada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, rgb(15, 161, 39), transparent);
}

.baja::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, rgb(161, 68, 15), transparent);
}

.contenedor-tareas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 5px 0;
}

.panel-tareas, .graph-wrapper {
    padding: 4em 0px;
}

.action-plan-wrapper {
    padding: 4em 0px;
}

.anuncio {
    text-align: center;
    padding: 20px 60px;
    line-height: 1.5;
}

.panel-datos {
    padding: 4em 0px;
    background: linear-gradient(to top right, white, white, #e0dcfd)
}