<p-toast />
<p-confirmdialog />

<div class="drawer-overlay" [class.visible]="drawerOpen()" (click)="cerrarDrawer()"></div>

<div class="page-wrapper">
  <div class="page-header">

    <div class="header-title">
      <h1 class="page-title">Proyectos</h1>

      @if (esAdmin()) {
        <p-button
          icon="pi pi-print"
          severity="secondary"
          size="small"
          (onClick)="descargarPdf()" />
      }
    </div>
    <div class="header-actions">
      <div class="filter-group">
        <span>Estado:</span>
        <p-select
          [options]="filtroOpciones"
          [(ngModel)]="filtroEstado"
          optionLabel="label"
          optionValue="value"
          (onChange)="cargar()" />
      </div>
      <p-button
        label="Nuevo Proyecto"
        icon="pi pi-plus"
        (onClick)="abrirNuevo()" />
    </div>
  </div>

  <div class="table-container">
    @if (loading()) {
      <div class="table-loading"><div class="spinner"></div></div>
    } @else {
      <table class="data-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cliente asociado</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (p of proyectos(); track p.id) {
            <tr>
              <td data-label="Nombre" class="font-semibold">{{ p.nombre }}</td>
              <td data-label="Cliente">
                @if (p.cliente) {
                    {{ p.cliente.nombre }}
                } @else {
                    <span class="badge badge-interno">
                        Interno
                    </span>
                }
              </td>
              <td data-label="Estado">
                <span class="badge" 
                [class.badge-activo]="isActivo(p)" 
                [class.badge-finalizado]="isFinalizado(p)" 
                [class.badge-baja]="!isActivo(p)">
                  {{ isActivo(p) ? 'Activo' : isFinalizado(p) ? 'Finalizado' : 'Baja' }}
                </span>
              </td>
              <td data-label="Acciones">
                <div class="actions-cell">
                  <p-button
                    label="Editar"
                    severity="secondary"
                    size="small"
                    [disabled]="!isActivo(p)"
                    (onClick)="abrirEditar(p)" />
                  
                    @if (isActivo(p)) {
                      <p-button
                        label="Finalizar"
                        severity="info"
                        size="small"
                        (onClick)="finalizar(p)" />
                    }
                  
                    @if (esAdmin()) {
                    @if (isActivo(p)) {
                      <p-button
                        label="Dar de Baja"
                        severity="danger"
                        size="small"
                        (onClick)="darDeBaja(p)" />
                    }
                  }

                  @if (esAdmin() && isBaja(p)) {
                    <p-button
                      label="Reactivar"
                      severity="success"
                      size="small"
                      (onClick)="reactivar(p)" />
                  }

                  <p-button
                    label="Ver tareas"
                    severity="secondary"
                    size="small"
                    [disabled]="!isActivo(p)"
                    (onClick)="abrirTarea(p)" />

                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" class="empty-state">No hay proyectos registrados con el filtro seleccionado.</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>

<aside class="drawer" [class.open]="drawerOpen()">
  <div class="drawer-header">
    <h2 class="drawer-title">{{ tituloDrawer() }}</h2>
    <button class="drawer-close" (click)="cerrarDrawer()">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
      </svg>
    </button>
  </div>

  <div class="drawer-body" [formGroup]="form">
    <div class="form-group">
      <label class="form-label">Nombre del proyecto</label>
      <input
        pInputText
        [fluid]="true"
        [invalid]="tieneError('nombre','required')"
        type="text"
        placeholder="Ej: Calculadora"
        formControlName="nombre" />
      @if (tieneError('nombre','required')) {
        <small class="form-error">El nombre es requerido</small>
      }
    </div>

    <div class="form-group">
      <label class="form-label">Cliente</label>
      <p-select
        [options]="clientes()"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Proyecto interno (sin cliente)"
        [showClear]="true"
        formControlName="idCliente">
        </p-select>

    </div>

  </div>

  <div class="drawer-footer">
    <p-button
      label="Cancelar"
      severity="secondary"
      [disabled]="guardando()"
      (onClick)="cerrarDrawer()" />
    <p-button
      [label]="guardando() ? 'Guardando...' : 'Guardar'"
      [loading]="guardando()"
      [disabled]="form.invalid"
      (onClick)="guardar()" />
  </div>
</aside>