<p-toast /> 

<section>

    <app-detalles-bar 
        titulo="Detalle del proyecto"
        (abrirNuevo)="abrirNuevo()"
    />

    <div class="button-volver-wrapper">
        <app-button-regular 
            class="button-volver"
            boton="Volver",
            icono="pi pi-arrow-left",
            (clicked)="volver()"
          
        />
    </div>

    <div class="detalle-proyecto-wrapper">
        <div class="proyecto">
            <h6>Proyecto</h6>
            <p>{{proyecto().nombre}}</p>
        </div>
        <div class="cliente">
            <h6>Cliente</h6>
            <p>{{proyecto().cliente ?? 'Interno'}}</p>
        </div>
        <div class="estado">
            <h6>Estado</h6>
            <p>{{proyecto().estado}}</p>
        </div>
    </div>

    <app-tareas-panel 
        [esAdmin]="esAdmin()"
        [tareas] = "proyecto().tareas"
        (editarTarea)="abrirEditar($event)"
        (tareaReactivada)="traerTareas(id)"
    />
</section>

<aside class="drawer" [class.open]="drawerOpen()">
  <div class="drawer-header">
    <h2 class="drawer-title">{{ tituloDrawer() }}</h2>
    <button class="drawer-close" (click)="cerrarDrawer()">
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
      </svg>
    </button>
  </div>

  <div class="drawer-body" [formGroup]="form">
    <div class="form-group">
      <label class="form-label">Descripcion:</label>
      <input
        pInputText
        [fluid]="true"
        [invalid]="tieneError('descripcion','required')"
        type="text"
        placeholder="Ej: Crear plan de trabajo"
        formControlName="descripcion" />
      @if (tieneError('descripcion','required')) {
        <small class="form-error">La ddescripcion es requerida</small>
      }
    </div>

    @if (editando()) {
        <div class="form-group">
            <label class="form-label">Estado:</label>
            <p-select
            [options]="estados()"
            optionLabel="label"
            optionValue="value"
            placeholder="Seleccionar estado"
            [showClear]="true"
            formControlName="estado">
            </p-select>
        </div>
    }

  </div>

  <div class="drawer-footer">
    <p-button
      label="Cancelar"
      severity="secondary"
      [disabled]="guardando()"
      (onClick)="cerrarDrawer()" />
    <p-button
      [label]="guardando() ? 'Guardando...' : 'Guardar'"
      [loading]="guardando()"
      [disabled]="form.invalid"
      (onClick)="guardar()" />
  </div>
</aside>