<section>
    <div class="header d-flex justify-content-between">
        <h4 class="m-0 align-self-center">Tareas</h4>
        <app-button-action 
            boton="Nueva tarea",
            icono="bi bi-plus",
            (clicked)="showcase()"
        />
    </div>
    <div class="detalles">
        <ul class="p-0">
            @for(item of tareas(); track item.id) {
                <li class="d-flex justify-content-between px-3 py-4 my-3">
                    <div class="d-flex align-items-center gap-3">
                        <input 
                            type="checkbox" 
                            class="custom-checkbox" 
                            [checked]="item.estado === 'FINALIZADO'"
                            (change)="checked($event, item)">
                        <p 
                            class="m-0 align-self-center"
                            [class.tachado]="item.estado === 'FINALIZADO'"
                        >{{item.descripcion}}</p>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <p 
                            class="m-0" 
                            [class.finalizado]="item.estado === 'FINALIZADO'"
                            [class.pendiente]="item.estado === 'PENDIENTE'"
                        >{{item.estado | lowercase}}</p>
                        <!-- <button class="btn btn-editar" (click)="editar()">Editar</button> -->
                         <app-button-regular 
                            boton="Editar",
                            icono="",
                            (clicked)="editar()"
                         />
                    </div>
                </li>
            }
        </ul>
    </div>
</section>