.navegacion-panel {
    position: sticky;
    top: 0;
    width: fit-content;
    background-color: var(--secondary-color);
    border-right: 1px var(--border-color) solid;
    font-size: var(--font-small);
}

.navegacion-panel > nav > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--font-semibold);
    cursor: pointer;
}

h4 {
    font-size: var(--font-regular);
}

.navegacion-panel > span {
    font-size: var(--font-extrasmall);
}

.espacio-icono {
    width: 25px;
}