<div class="navegacion-panel p-4 d-flex flex-column gap-3 vh-100 align-start">
    <h4 class="mb-3">Gestor de proyectos</h4>
    <span>PRINCIPAL</span>
    <nav class="d-flex flex-column gap-3">
        <a routerLink="/">
            <div class="espacio-icono">
                <i class="bi bi-house-door fs-6"></i>
            </div>
            Inicio
        </a>
        <!-- Por ahora para probar -->
        <a routerLink="/proyectos"> 
            <div class="espacio-icono">
                <i class="bi bi-suitcase-lg fs-6"></i>
            </div>
            Proyectos
        </a>
        <a routerLink="/clientes">
            <div class="espacio-icono">
                <i class="bi bi-person-plus fs-6"></i>
            </div>
            Clientes
        </a>
        <a routerLink="/usuarios">
            <div class="espacio-icono">
                <i class="bi bi-person fs-6"></i>
            </div>
            Usuarios
        </a>
        <a routerLink="/historial">
            <div class="espacio-icono">
                <i class="bi bi-clock fs-6"></i>
            </div>
            Historial
        </a>
    </nav>
    <div class="mt-auto">
        <hr>
        <span>Usuario</span>
    </div>
</div>