.chart {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    min-width: 15rem;
}

.titulo, .estado {
    color: rgb(104, 104, 104);
    font-size: var(--font-extrasmall);
    margin: 5px 0 5px 0;
}

.valor {
    color: var(--primary-color);
    font-size: var(--font-large);
    margin: 5px 0 5px 0;
}